//colors
$bg-color: rgba(0, 0, 0, 1);
$color-purple: rgba(102, 0, 204, 1);
$color-red: rgba(204, 0, 0, 1);
$color-yellow: rgba(255, 204, 0, 1);
$blue-bluelak: #020024;
$color-blue-light: #00d4ff;
$color-blue-dark: #25787a;
$color-white: rgba(255, 255, 255, 1);
// fonts
$raleway: "Raleway",
sans-serif;